---
import Layout from "@layouts/Layout.astro";
import Links from "@components/Links.astro";
import Overview from "@components/Overview.astro";
import Experience from "@components/Experience.astro";
import FlickeringLetters from "@components/FlickeringLetters.astro";
---

<Layout>
  <header></header>
  <main class="max-w-prose mx-auto space-y-24">
    <div>
      <FlickeringLetters />
      <Links />
    </div>
    <Overview />
    <Experience />
  </main>
  <footer></footer>
</Layout>
