---
interface Experience {
  company: string;
  title: string;
  date: string;
  summary: string;
}

const experiences: Experience[] = [
  {
    company: "Juice.ai",
    title: "Front-End Developer",
    date: "June 2023 – October 2024",
    summary:
      "Built user and admin dashboards using SvelteKit and TailwindCSS. Collaborated closely with UI/UX designers via Figma to ensure design consistency, and delivered efficient, organized, and maintainable code.",
  },
  {
    company: "Cambiata Music",
    title: "Web Developer",
    date: "June 2022 - August 2022",
    summary:
      "Developed responsive user interfaces, optimized performance, and collaborated with cross-functional teams to enhance user experience and maintain design consistency.",
  },
  {
    company: "Yes We Vibe",
    title: "UI Developer",
    date: "May 2021 - May 2022",
    summary:
      "Implemented high-fidelity UI components, ensured cross-browser compatibility, and improved front-end code quality while working closely with designers to uphold brand identity.",
  },
  {
    company: "Sponsorlytix",
    title: "Front-End Developer",
    date: "July 2020 - October 2020",
    summary:
      "Built modular front-end features, integrated APIs for dynamic data display, and refined site structure, resulting in improved load times and an intuitive user interface.",
  },
];
---

<div class="font-sans mx-auto">
  <h1 class="text-3xl font-semibold mb-8">Experience</h1>
  <div class="space-y-8">
    {
      experiences.map((exp) => (
        <div class="space-y-2">
          <p class="text-sm text-primary">{exp.date}</p>
          <p class="text-xl font-medium">
            {exp.title} &nbsp;&#64;&nbsp; {exp.company}
          </p>
          <p class="text-base text-primary leading-relaxed">{exp.summary}</p>
        </div>
      ))
    }
  </div>
</div>
