---
const currentYear = new Date().getFullYear();
---

<footer class="flex justify-start max-w-prose mr-auto py-20">
  <p class="text-gray-600 text-sm">
    &copy; {currentYear} Kit Harvey. All rights reserved.
  </p>
</footer>
