---

---

<ul class="flex flex-wrap items-center gap-2 font-sans text-lg">
  <li>
    <a
      href="https://docs.google.com/document/d/e/2PACX-1vTADBb3CON3ld0TTQDJCfy_Fn7dVW9iGBSGLbj9N0evqZZIvwN-q3ZDc6Z2_rrV3dY-KUGmBrljh5pb/pub"
      target="_blank"
      class="text-primary hover:text-primary transition-colors duration-200"
      rel="noopener noreferrer"
    >
      Resume
    </a>
  </li>
  <li>
    <a
      href="https://github.com/kitharvey"
      target="_blank"
      class="text-primary hover:text-primary transition-colors duration-200"
      rel="noopener noreferrer"
    >
      Github
    </a>
  </li>
  <li>
    <a
      href="https://www.linkedin.com/in/kitharvey/"
      target="_blank"
      class="text-primary hover:text-primary transition-colors duration-200"
      rel="noopener noreferrer"
    >
      LinkedIn
    </a>
  </li>
</ul>
