---
import Flicker from "./Flicker.astro";
import Links from "./Links.astro";
---

<header class="flex justify-between max-w-prose mx-auto py-20">
  <a href="/">
    <Flicker />
  </a>
  <Links />
</header>
