---

---

<div class="font-sans mx-auto">
  <h1 class="text-3xl font-semibold mb-8">Overview</h1>
  <p class="mb-8 text-lg leading-relaxed text-primary">
    I’m a self-taught Front-End Developer based in General Santos City,
    Philippines. My work focuses on building user-friendly, visually appealing,
    and efficient web experiences by blending design and development. With a
    strong interest in graphic design, typography, and algorithms, I’ve found
    Front-End development to be the perfect balance between creative expression
    and technical problem-solving. Over time, I’ve worked on projects that
    required attention to detail, user-centered design, and performance
    optimization. I aim to collaborate with teams that share a drive for quality
    and innovation while delivering impactful solutions. When I’m not coding, I
    spend my time at the gym, running, or enjoying moments with friends and
    family. I also have a keen interest in self-improvement, philosophy,
    finance, and health. Continuous learning and growth are at the core of
    everything I do, both personally and professionally. Let’s connect and
    explore opportunities to build something great together.
  </p>
</div>
