---
interface Props {
  overview: {
    title: string;
    summary: string;
    note: string;
  };
}
const { overview } = Astro.props;
---

<section class="font-sans mx-auto">
  <h2 class="text-3xl font-semibold mb-4">{overview.title}</h2>

  <p class="mb-8 leading-relaxed text-primary">
    {overview.summary}
  </p>
  <p class="mb-8 leading-relaxed text-primary">
    {overview.note}
  </p>
</section>
