---

---

<section class="font-sans mx-auto">
  <h1 class="text-3xl font-semibold mb-4">Welcome</h1>
  <p class="mb-8 leading-relaxed text-primary">
    I’m <strong>Kit Harvey</strong>, a self-taught Front-End Developer based in
    General Santos City, Philippines. My work focuses on building user-friendly,
    visually appealing, and efficient web experiences by blending design and
    development. With a strong interest in graphic design, typography, and
    algorithms, I’ve found Front-End development to be the perfect balance
    between creative expression and technical problem-solving.
  </p>

  <p class="mb-8 leading-relaxed text-primary">
    Over the years, I’ve worked on projects that required attention to detail,
    user-centered design, and performance optimization. I strive to collaborate
    with teams that value quality and innovation while delivering impactful
    solutions that make a difference.
  </p>

  <p class="mb-8 leading-relaxed text-primary">
    Outside of coding, I enjoy spending time at the gym, running, or sharing
    moments with friends and family. I’m passionate about self-improvement and
    have a keen interest in philosophy, finance, and health. For me, continuous
    learning and growth are essential, both personally and professionally.
  </p>
</section>
