@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-primary;
  }
}

@layer components {
  .crt {
    @apply relative;
  }

  .crt::before {
    content: "";
    @apply absolute inset-0 pointer-events-none;
    background: repeating-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1) 1px,
      transparent 2px,
      transparent 3px
    );

    mix-blend-mode: multiply;
  }

  .crt::after {
    content: "";
    @apply absolute inset-0 pointer-events-none;
    /* Slight blur and subtle tint */
    background: radial-gradient(
      circle at center,
      rgba(0, 255, 0, 0.02) 0%,
      rgba(0, 0, 0, 0.2) 100%
    );
    backdrop-filter: blur(2px);
    opacity: 0.3;
  }
}
