---
import "@base.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="I'm Kit Harvey, a front-end web developer specializing in building high-quality, user-focused websites. With a strong foundation in HTML, CSS, and JavaScript, I deliver solutions aligned with your business objectives. Explore my portfolio to see what I can do."
    />
    <meta name="author" content="Kit Harvey Caubalejo" />
    <meta name="robots" content="index, follow" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="canonical" href="https://kitharvey.dev/" />

    <title>Kit Harvey | Front-End Web Developer</title>

    <script is:inline type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Kit Harvey Caubalejo",
        "jobTitle": "Front-End Web Developer",
        "url": "https://kitharvey.dev/",
        "sameAs": [
          "https://github.com/kitharvey",
          "https://www.linkedin.com/in/kitharvey"
        ]
      }
    </script>

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://kitharvey.dev/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Kit Harvey Portfolio" />
    <meta property="og:title" content="Kit Harvey | Front-End Web Developer" />
    <meta
      property="og:description"
      content="I'm a front-end web developer creating high-quality, user-focused websites. Explore my portfolio to see examples of my work."
    />
    <meta property="og:image" content="https://kitharvey.dev/image.jpg" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@kitharveydotdev" />
    <meta name="twitter:creator" content="@kitharveydotdev" />
    <meta name="twitter:title" content="Kit Harvey | Front-End Web Developer" />
    <meta
      name="twitter:description"
      content="I'm a front-end web developer creating high-quality, user-focused websites. Explore my portfolio to see examples of my work."
    />
    <meta name="twitter:image" content="https://kitharvey.dev/image.jpg" />
  </head>
  <body class="crt">
    <slot />
  </body>
</html>
