---
import "@base.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="I'm Kit Harvey, a front-end web developer delivering high-performing, user-centric digital experiences. With a strong foundation in HTML, CSS, and JavaScript, I craft solutions that adapt to your unique business goals. Explore my portfolio to see how I can help elevate your brand's online presence."
    />
    <meta name="author" content="Kit Harvey Caubalejo" />
    <meta name="robots" content="index, follow" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="canonical" href="https://kitharvey.dev/" />

    <title>
      Kit Harvey | Front-End Web Developer for Scalable, Impactful Solutions
    </title>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://kitharvey.dev/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Kit Harvey Portfolio" />
    <meta
      property="og:title"
      content="Kit Harvey | Front-End Web Developer for Scalable, Impactful Solutions"
    />
    <meta
      property="og:description"
      content="Work with a front-end developer who creates high-performing, user-focused web solutions. From intuitive interfaces to scalable architectures, I tailor each project to your brand’s success. Explore my portfolio to see results."
    />
    <meta property="og:image" content="https://kitharvey.dev/image.jpg" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@kitharveydotdev" />
    <meta name="twitter:creator" content="@kitharveydotdev" />
    <meta
      name="twitter:title"
      content="Kit Harvey | Front-End Web Developer for Scalable, Impactful Solutions"
    />
    <meta
      name="twitter:description"
      content="Work with a front-end developer who creates high-performing, user-focused web solutions. From intuitive interfaces to scalable architectures, I tailor each project to your brand’s success. Explore my portfolio to see results."
    />
    <meta name="twitter:image" content="https://kitharvey.dev/image.jpg" />
  </head>
  <body class="crt">
    <slot />
  </body>
</html>
